<!--The content below is only a placeholder and can be replaced.-->

<h1>Angular Router</h1>

<nav>
  <a routerLink="/project" routerLinkActive="active">项目</a>
  <a routerLink="/coder" routerLinkActive="active">程序员</a>
  <a routerLink="/dashboard" routerLinkActive="active">控制台</a>
  <a routerLink="/login" routerLinkActive="active">登录</a>
  <a [routerLink]="[{outlets: { contact: 'complaint' }}]" routerLinkActive="active">投诉</a>
</nav>

<router-outlet></router-outlet>

<router-outlet name="contact"></router-outlet>

