/* You can add global styles to this file, and also import other style files */

a {
  text-decoration: none;
  padding: 5px;
  color: #000;
  margin: 0 5px;
}

.active {
  color: blue;
  border: 1px solid #ccc;
  border-radius: 4px;
}

